page-post-view {
    .body {
		background: #f4f4f4;
    }

    .head {
		background: #f8f8f8;
    }

    ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  .action-sheet-md.action-sheet-title {
    text-align: center;
  }

  #acst-hdr-0{
    text-align: center !important;
  }

  .action-sheet-title.button-inner{
    text-align: center !important;
  } 

  #btnComment{
    background-color: #27546e;
    color: white;
  }
  
}
