<ion-header>
  <ion-navbar class="head">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title">{{post.title}}</ion-title>

  </ion-navbar>
</ion-header>



<ion-content padding class="body">
  <ion-card>
    <ion-list>

      <ion-item>
        <ion-avatar item-start>
          <img src="{{logoURL}}">
        </ion-avatar>
        <h2>{{post.autor}}</h2>
        <p>{{post.startedAt | date : "longDate"}}</p>
      </ion-item>

      <img src="{{post.urlImagem}}">

      <ion-card-content>
        <p style="text-align: justify" [innerHTML]="post.text"></p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button id="commentBtn" ion-button icon-left clear small (click)="show = !show">
            <ion-icon name="text"></ion-icon>
            <div>{{arraySize.length}} Comentários</div>
          </button>
        </ion-col>

        <ion-col center text-center>
          <ion-note>
            Last updated: {{post.startedAt | date:'shortTime'}}
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-list>

  </ion-card>



  <div *ngIf="show">
    <ion-list *ngFor="let comment of comments | async">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{comment.photoURL}}">
          </ion-avatar>
          <h2>{{comment.displayName}}</h2>
          <span item-end *ngIf="userProfile">
            <button *ngIf="userProfile.uid == comment.userUid " item-end ion-button icon-only (click)="openMenuComment(comment)" style="background-color:white; box-shadow: 0 0 black;"><ion-icon style="color:#6f6969" name="more"></ion-icon></button>
          </span>
          <ion-note>Last updated: {{comment.startedAt | amTimeAgo:true}}</ion-note>

        </ion-item>
        <ion-card-content>{{comment.text}}</ion-card-content>
        <button id="ansBtn" ion-button icon-right clear small (click)="respostas(comment)">
            Respostas
          </button>
      </ion-card>
    </ion-list>

    <ion-item [formGroup]='form' *ngIf="userProfile">
      <ion-textarea formControlName="text" placeholder="Adicionar comentário..."></ion-textarea>
    </ion-item>
    <button ion-button block id="btnComment" (click)="addComment()" *ngIf="userProfile">Comentar</button>

    <button ion-button block id="btnComment" (click)="showAlert()" *ngIf="!userProfile">Comentar</button>
  </div>

  <!-- <button ion-button block color="dark" (click)="signInWithGoogle()">Comentar</button> -->

</ion-content>