page-home {
        .body {
		background: #f4f4f4;
    }

    .head {
		background: #1e475e !important;
    }

    .title{
        width: 90px;
    }

    ion-card img {
    display: block;
    width: 75%;
     margin: auto;
    margin-top: 15px;
    
    }

    .title {
        font-family: "Raleway", Helvetica, sans-serif;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
    }

    .text{
       font-family: "Raleway", Helvetica, sans-serif;
        text-align: center;
        font-size: 15px;
        font-weight: 400; 
    }

    #imgHome img{
        width: 100% !important;
        margin-top: 0px !important;
    }

    #titleContent{
        white-space: initial;
        padding: 2px !important;
    }

    #titleText{
        font-size: 16px;
    }

        .texto article header .published {
    	display: block;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.6em;
		font-weight: 400;
		letter-spacing: 0.25em;
		margin: -0.625em 0 1.7em 0;
		text-transform: uppercase;
    }
    
    h1, h2, h3, h4, h5, h6 {
		color: #3c3b3b;
		font-family: "Raleway", Helvetica, sans-serif;
		font-weight: 800;
		letter-spacing: 0.25em;
		line-height: 1.65;
		margin: 0 0 1em 0;
		text-transform: uppercase;
    }

    .link a{
        color: #3c3b3b;
        text-decoration: none;
    }
    
    .link a:hover{
		color: #2ebaae;
    }
    
    .published {
	    display: block;
	    font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.9em;
		font-weight: 400;
		letter-spacing: 0.25em;
        margin: -0.625em 0 1.7em 0;
        padding-top: 10px;
        text-transform: uppercase;
    }

    ion-slides{
        height: 50%;
    }

    .statusbar{
    background-color: #1e475e !important;
}


}
