<ion-header style="background: #1e475e">
    <ion-navbar class="head">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title class="title">BlogDI</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="body">
    <ion-list>
        <ion-item *ngFor="let noticia of post | async | orderBy: order : true" (click)="openViewPage(noticia.$key)">
            <div>{{noticia.title}} </div>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item *ngFor="let aviso of notice | async | orderBy: order : true" (click)="openViewPage(notice.$key)">
            <div>{{aviso.text}} </div>
        </ion-item>
    </ion-list>
    <p class="text">DEPARTAMENTO DE INFORMÁTICA</p>
    <p class="text">UERN, CAMPUS CENTRAL</p>
</ion-content>