<ion-header style="background: #1e475e">
    <ion-navbar class="head">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title class="title">BlogDI</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="body">
    <ion-slides pager>
        <ion-slide *ngFor="let noticia of post | async | orderBy: order : true" (click)="openViewPage(noticia.$key)">
            <ion-card id="imgHome">
                <img src="{{noticia.urlImagem}}" />
                <ion-card-content id="titleContent">
                    <ion-card-title id="titleText">
                        {{noticia.title}}
                    </ion-card-title>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-list>
        <ion-item *ngFor="let aviso of notice | async">
            <div>{{aviso.text}} </div>
        </ion-item>
    </ion-list>
    <p class="text">DEPARTAMENTO DE INFORMÁTICA</p>
    <p class="text">UERN, CAMPUS CENTRAL</p>
</ion-content>