page-home {
        .body {
		background: #f4f4f4;
    }

    .head {
		background: #1e475e !important;
    }

    .title{
        width: 90px;
    }

    ion-card img {
    display: block;
    width: 75%;
     margin: auto;
    margin-top: 15px;
    
    }

    .title {
        font-family: "Raleway", Helvetica, sans-serif;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
    }

    .text{
       font-family: "Raleway", Helvetica, sans-serif;
        text-align: center;
        font-size: 15px;
        font-weight: 400; 
    }

    #imgHome img{
        width: 100% !important;
        margin-top: 0px !important;
    }

    #titleContent{
        white-space: initial;
        padding: 2px !important;
    }

    #titleText{
        font-size: 16px;
    }

}
