#iconAlign{
    float: right !important;
}

.head{
    background: #1e475e !important;
}

.toolbar-background-md {
    border-color: #fff;
    background: #1e475e;
    color: #fff;
}

.bar-button-default-md{
    color: white;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.logBtn{
    transition: none;
    border-color: #6aadde;
    border: solid 0.6px #6aadde;
    color: #6aadde;
    background-color: white !important;
    box-shadow: none;
}

