<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngIf="userProfile">
        <ion-avatar item-left>
          <img [src]="userProfile.photoURL">
        </ion-avatar>
        <h2>{{ userProfile.displayName }}</h2>
        <button ion-button block class="logBtn"  (click)="signOut()">
         <ion-icon name="logo-googleplus"></ion-icon>
           Log Out
        </button>
      </ion-item>
      <ion-item *ngIf="!userProfile">
        <ion-avatar item-left>
          <img style="border-radius: 0%" src="{{logoURL}}">
        </ion-avatar>
      </ion-item>

      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}} <ion-icon id="iconAlign" name="{{p.icon}}"></ion-icon>
      </button>
    </ion-list>
    <button ion-button block class="logBtn" (click)="loginUser()" *ngIf="!userProfile">
        <ion-icon name="logo-googleplus"></ion-icon>Login with Google
    </button>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>